<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Switch Interfaces</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <b>Information about ALL interfaces of the Switch: <u>{{ switch_name }}</u> in the database:</b>
    <table>
      {% for entry in result %}
        <tr>
          <td>Entry ID: {{ entry['_id'] }}</td>
          <td>Switch Type:  {{ entry['Switch_Type'] }}</td>
          <td>Interface Name: {{ entry['Interface_Name'] }}</td>
          <td>Description: {{ entry['Description'] }}</td>
          <td>State: {{ entry['State'] }}</td>
        </tr>
      {% endfor %}
    </table>


  <script src="js/scripts.js"></script>
</body>
</html>
